= cache ["map", @group, params[:date], params[:days], params[:feed_id]] do
  :ruby
    # we do this outside the controller for caching reasons
    json = @group.to_arr_for_json(
      date: params[:date],
      days: params[:days],
      feed_id: params[:feed_id]
    ).to_json.html_safe

    message_dates = @group.message_dates

  %h1
    = link_to @group.name, group_path(@group)
    = params[:date]
    - unless params[:feed_id].blank?
      = SpotFeed.where(id: params[:feed_id]).first.try(:display_name)

  .filters
    = form_tag(group_path(@group), method: :get) do
      %table
        %tr
          %th Filters
          %th Date
          %th Days
          %th= @group.name
          %th
        %tr
          %td= link_to 'Clear', group_path(@group)
          %td
            = select_tag :date,
              options_for_select(message_dates, params[:date]),
              include_blank: true
          %td
            = select_tag :days,
              options_for_select(1..10, params[:days]),
              include_blank: true
          %td
            = select_tag :feed_id,
              options_from_collection_for_select([SpotFeed.new] + @group.spot_feeds.displayable,
                :id,
                :display_name,
                params[:feed_id])
          %td= submit_tag 'Filter'

  .maps-container
    #map

  #legend
    %h1= @group.name

  :javascript
    google.maps.event.addDomListener(window, 'load', map_json('#{json}'));
    google.maps.event.addDomListener(window, "resize", function() {
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);
    });
