= simple_form_for(@spot_message) do |f|
  = f.error_notification

  .form-inputs
    = f.input :spot_feed_id
    = f.input :spot_id
    = f.input :messenger_id
    = f.input :messenger_name
    = f.input :unix_time
    = f.input :message_type
    = f.input :latitude
    = f.input :longitude
    = f.input :model_id
    = f.input :show_custom_msg
    = f.input :date_time
    = f.input :battery_state
    = f.input :hidden
    = f.input :message_content

  .form-actions
    = f.button :submit
