= simple_form_for(@spot_feed) do |f|
  = f.error_notification

  .form-inputs
    = f.input :feed_id
    = f.input :name
    = f.input :description
    = f.input :status
    = f.input :usage
    = f.input :days_range
    = f.input :detailed_message_shown
    = f.input :sync
    = f.input :sync_status

  .form-actions
    = f.button :submit
