%p#notice= notice

%p
  %b ID:
  = @spot_feed.id

%p
  %b Group:
  = @spot_feed.spot_group.name

%p
  %b Feed:
  = @spot_feed.feed_id

%p
  %b Name:
  = @spot_feed.name

%p
  %b Description:
  = @spot_feed.description

%p
  %b Status:
  = @spot_feed.status

%p
  %b Usage:
  = @spot_feed.usage

%p
  %b Days range:
  = @spot_feed.days_range

%p
  %b Detailed message show:
  = @spot_feed.detailed_message_shown

%p
  %b Sync
  = @spot_feed.sync

%p
  %b Sync Status
  = @spot_feed.sync_status

%p
  %b Display
  = @spot_feed.display

%p
  %b Created At
  = @spot_feed.created_at.to_s(:short)

%p
  %b Updated At
  = @spot_feed.updated_at.to_s(:short)

%p
  %b Spot Messages
  = @spot_feed.spot_messages.count

= link_to 'Edit', edit_spot_feed_path(@spot_feed)
\|
= link_to 'Back', spot_feeds_path
\|
= link_to 'Import Latest', import_spot_feed_path(@spot_feed)
